[submodule "tmp/auth2api"]
	path = tmp/auth2api
	url = https://github.com/AmazingAng/auth2api
	branch = master
[submodule "tmp/CLIProxyAPI"]
	path = tmp/CLIProxyAPI
	url = https://github.com/router-for-me/CLIProxyAPI
	branch = master
